<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>


  <connectionStrings>
    <add name="dbStringnew" connectionString="Data Source=DESKTOP-1Q16TTF\SQLEXPRESS; Initial Catalog=YES; Trusted_Connection=True; MultipleActiveResultSets=true; Asynchronous Processing=True ;Min Pool Size=0;Max Pool Size=500;Pooling=true;Connection Lifetime=0;" />


  </connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>
